@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 antialiased;
  }
}

.masonry-grid {
  display: flex;
  width: auto;
  gap: 16px;
}

.masonry-grid-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-clip: padding-box;
}
